<div class="container">
    <div class="container-header">
       
        <h2>Currency Exchange Rate</h2>
        <div class="slide-toggle d-flex align-items-center">
            <span>Latest</span>
            <mat-slide-toggle [(ngModel)]="currencyType" (ngModelChange)="check()" class="mx-1"></mat-slide-toggle> <span>Historical</span>
        </div>

    </div>

        <mat-form-field *ngIf = "currencyType">
            <mat-label>Historical Date</mat-label>
            <input  disabled matInput [matDatepicker]="picker" [max]="maxDate"  [(ngModel)]="historicalDate" >
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle >
            <mat-datepicker #picker disabled="false" (closed)="showSuggError('date')"></mat-datepicker>
            <mat-hint class="text-danger" *ngIf="currencyObjError.date">You must select date</mat-hint>
            
        </mat-form-field>

        <mat-form-field >
            <mat-label>Amount</mat-label>
            <input matInput type="number" [(ngModel)]="currencyObj.amount" (ngModelChange)="showSuggError('amount')" >
            <mat-hint class="text-danger" *ngIf="currencyObjError.amount">You must enter amount</mat-hint>
            <mat-hint class="text-danger" *ngIf="!currencyObjError.amount && currencyObjError.countAmount">Your amount must be greater than 0</mat-hint>
        </mat-form-field>

        <mat-form-field >
            <mat-label>From Currency</mat-label>
            <mat-select [(ngModel)]="currencyObj.base_currency" (selectionChange)="showSuggError('base_currency')" >
                <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                    {{ currency.viewValue }}
                </mat-option>
            </mat-select>
            <mat-hint class="text-danger" *ngIf="currencyObjError.base_currency">You must select from_currency</mat-hint>

        </mat-form-field>

        <mat-form-field >
            <mat-label>To Currency</mat-label>
            <mat-select [(ngModel)]="currencyObj.currencies" (selectionChange)="showSuggError('currencies')" >
                <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                    {{ currency.viewValue }}
                </mat-option>
            </mat-select>
            <mat-hint class="text-danger" *ngIf="currencyObjError.currencies">You must select to_currency</mat-hint>

        </mat-form-field>
        <p class="paraText">{{currencyText}}</p>
        <button mat-raised-button color="primary" (click)="getExchangeRate()">Get Exchange Rate</button>
</div>

<app-loader></app-loader>



