<div class="table-container">
    <h2>Currency Exchange Rate List</h2>
    <table>
        <thead>
            <tr>
                <th>From Country</th>
                <th>To Country</th>
                <th>Historical Date</th>
                <th>Time Log</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of itemsList ; let i = index">
                <td>{{item.fromCurrency}}</td>
                <td>{{item.toCurrency}}</td>
                <td>{{item.historicalDate}}</td>
                <td>{{item.time}}</td>
                <td><button class="delete-btn" (click)="deleteRow(i)"><i class="fa fa-trash fa-2x"></i></button></td>
            </tr>
          
        </tbody>
    </table>
</div>

