<div class="table-container">
    <h2>Currency Exchange Rate List</h2>
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>To Country</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>USA</td>
                <td>Canada</td>
                <td>2024-10-26</td>
                <td><button class="delete-btn" onclick="deleteRow(this)"><i class="fa fa-trash fa-2x"></i></button></td>
            </tr>
            <tr>
                <td>Germany</td>
                <td>France</td>
                <td>2024-10-26</td>
                <td><button class="delete-btn" onclick="deleteRow(this)"><i class="fa fa-trash fa-2x"></i></button></td>
            </tr>
            <tr>
                <td>Japan</td>
                <td>India</td>
                <td>2024-10-26</td>
                <td><button class="delete-btn" onclick="deleteRow(this)"><i class="fa fa-trash fa-2x"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

